.DataPointViewPort{
    width: 100%;
    min-width: 100%;
}

.dpwp-point{

}

.dpwp-edge-list{
    border-left: 2px solid var(--gold-4);
    background: linear-gradient(
        -90deg,
        transparent,
        var(--translucent-white-01)
    );
    display: flex;
    flex-direction: column;
    height: calc(91vh - var(--_top));
    width: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    padding: .5rem;
}

.dpwp-edge{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 100%;
    text-overflow: ellipsis;
    text-align: center;
    border-bottom: 2px solid var(--gold-4);
    width: 90%;
    height: 5rem;
    border-radius: 1rem;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    align-items: center;
}