.StepDisplay{
    position: relative;
    width: 100%;

}
.dots{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--grey-1);
}
.former-step{
    color: var(--gold-2);
}

.current-step{
    color: var(--blue-2);
    background: linear-gradient(
        transparent,
        var(--translucent-white-02)
    );
}

.dots-spacer{
    font-weight: bolder;
    font-size: 1.5rem;
}
