.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .15rem;
    font-family: 'Beaufort', sans-serif;
    width: 95%;
    height: 5rem;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
    border-bottom: .2rem solid var(--gold-4);
}